# Module: Pandas Assignments
## Lesson: Pandas

In [2]:
import numpy as np
import pandas as pd
import random
from random import *

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [3]:
df=pd.DataFrame(np.random.randint(1,20,size=(6,4)),columns=['A','B','C','D'])
print(df)

df.set_index('A',inplace=True)
print(df)

    A   B   C   D
0  19  13   6   1
1  13   5  12   5
2  14   9   8   7
3  18  17   6  11
4  17   5   8  16
5  18  15   5   8
     B   C   D
A
19  13   6   1
13   5  12   5
14   9   8   7
18  17   6  11
17   5   8  16
18  15   5   8

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [4]:
df=pd.DataFrame(np.random.randint(1,20,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(df)

element=df.at['Y','B']
print(f'\n[Y,B]:',element)

    A   B   C
X   3   4   7
Y  18  11  15
Z  18   9  16

[Y,B]: 11


### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [5]:
df=pd.DataFrame(np.random.randint(1,15,size=(5,3)),columns=['A','B','C'])
print(df)

df['D']=df["A"] * df['B']
print(df)

    A   B   C
0  12   7   5
1   9   6   7
2   6  11  12
3  13  12   5
4   9   5   2
    A   B   C    D
0  12   7   5   84
1   9   6   7   54
2   6  11  12   66
3  13  12   5  156
4   9   5   2   45

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [6]:
df=pd.DataFrame(np.random.randint(1,15,size=(4,3)),columns=['A','B','C'])
print(df)

row_wise=df.sum(axis=1)
print(f"Row wise sum:\n",row_wise)
column_wise=df.sum(axis=0)
print(f"Column wise sum:\n",column_wise)

    A   B   C
0  13  12   4
1   4  12  12
2  10   6   9
3   5  12   4
Row wise sum:
 0    29
1    28
2    25
3    21
dtype: int64
Column wise sum:
 A    32
B    42
C    29
dtype: int64


### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [7]:
df=pd.DataFrame(np.random.randint(1,15,size=(5,3)),columns=['A','B','C'])
print(df)

df.iloc[0,0]=np.nan
df.iloc[2,2]=np.nan
df.iloc[3,1]=np.nan
print(df)

df.fillna(df.mean(),inplace=True)
print(df)

    A   B   C
0  11   9   6
1   4   9  11
2   1  11   7
3   2  12   2
4   6  11   4
     A     B     C
0  NaN   9.0   6.0
1  4.0   9.0  11.0
2  1.0  11.0   NaN
3  2.0   NaN   2.0
4  6.0  11.0   4.0
      A     B      C
0  3.25   9.0   6.00
1  4.00   9.0  11.00
2  1.00  11.0   5.75
3  2.00  10.0   2.00
4  6.00  11.0   4.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [8]:
df=pd.DataFrame(np.random.randint(1,20,size=(6,4)),columns=['A','B','C','D'])
print(df)

df.iloc[2,3]=np.nan
df.iloc[4,2]=np.nan
print(df)

df.dropna()

    A   B   C   D
0   7  10   9   4
1  10   4   5  17
2  17   4  15  17
3  10   4   3  17
4   5  16  16  10
5  12  10  10  11
    A   B     C     D
0   7  10   9.0   4.0
1  10   4   5.0  17.0
2  17   4  15.0   NaN
3  10   4   3.0  17.0
4   5  16   NaN  10.0
5  12  10  10.0  11.0

    A   B     C     D
0   7  10   9.0   4.0
1  10   4   5.0  17.0
3  10   4   3.0  17.0
5  12  10  10.0  11.0


### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [9]:
df=pd.DataFrame({'Category':np.random.choice(['A','B','C'],size=10),'Value':np.random.randint(1,10,size=10)})
print(f"DataFrame:\n",df)

aggg=df.groupby("Category")["Value"].agg(['mean','sum'])
print(aggg)

DataFrame:
   Category  Value
0        C      9
1        B      3
2        C      4
3        B      6
4        B      5
5        A      2
6        A      2
7        C      2
8        A      4
9        C      7
              mean  sum
Category
A         2.666667    8
B         4.666667   14
C         5.500000   22

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [10]:
sale_data=pd.DataFrame({'Product':np.random.choice(['Product1','Product2','Product3'],size=15),
                   'Category':np.random.choice(['A','B'],size=15),
                   'Sales':np.random.randint(50,1000,size=15)})
print(f"Data:\n",sale_data)

total_sale=sale_data.groupby(['Product','Category'])['Sales'].sum()
print(f"\nTotal sales of products category wise:\n",total_sale)

Data:
      Product Category  Sales
0   Product3        A    377
1   Product2        B    504
2   Product2        B    325
3   Product3        A    414
4   Product3        A    543
5   Product3        A     53
6   Product1        B    771
7   Product1        B    761
8   Product3        B    576
9   Product3        A    719
10  Product2        A    586
11  Product1        B    961
12  Product1        A    953
13  Product2        B    438
14  Product2        A     83

Total sales of products category wise:
 Product   Category
Product1  A            953
          B           2493
Product2  A            669
          B           1267
Product3  A           2106
          B            576
Name: Sales, dtype: int32


### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [11]:
df1=pd.DataFrame({'X':['A','B','C','D'],'y':np.random.randint(1,10,size=4)})
print(df1)
df2=pd.DataFrame({'X':['A','B','C','D'],'z':np.random.randint(1,10,size=4)})
print(df2)
pd.merge(df1,df2,on='X')

   X  y
0  A  8
1  B  3
2  C  3
3  D  5
   X  z
0  A  8
1  B  8
2  C  1
3  D  4

   X  y  z
0  A  8  8
1  B  3  8
2  C  3  1
3  D  5  4

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [12]:
df1=pd.DataFrame({'a':np.random.randint(1,10,size=4),'b':np.random.randint(1,10,size=4)})
print(df1)
df2=pd.DataFrame({'c':np.random.randint(1,10,size=4),'d':np.random.randint(1,10,size=4)})
print(df2)
rows=pd.concat([df1,df2],axis=0)
print(rows)
columns=pd.concat([df1,df2],axis=1)
print(columns)

   a  b
0  4  9
1  5  4
2  1  3
3  9  3
   c  d
0  7  5
1  6  6
2  7  1
3  7  5
     a    b    c    d
0  4.0  9.0  NaN  NaN
1  5.0  4.0  NaN  NaN
2  1.0  3.0  NaN  NaN
3  9.0  3.0  NaN  NaN
0  NaN  NaN  7.0  5.0
1  NaN  NaN  6.0  6.0
2  NaN  NaN  7.0  1.0
3  NaN  NaN  7.0  5.0
   a  b  c  d
0  4  9  7  5
1  5  4  6  6
2  1  3  7  1
3  9  3  7  5


### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [13]:
day_by_day=pd.date_range(start='2024-01-01',end='2024-12-31',freq='D')
original=pd.DataFrame(day_by_day,columns=['Total Earned'])
original['Total Earned']=(np.random.randint(1000,10000,size=len(day_by_day)))
original.set_index(day_by_day,inplace=True)
print(original)

month_mean=original.resample('M').mean()
print(f"Monthly mean:\n",month_mean)

            Total Earned
2024-01-01          4486
2024-01-02          1750
2024-01-03          8190
2024-01-04          7652
2024-01-05          3786
...                  ...
2024-12-27          1727
2024-12-28          2718
2024-12-29          7129
2024-12-30          9157
2024-12-31          4278

[366 rows x 1 columns]
Monthly mean:
             Total Earned
2024-01-31   5904.000000
2024-02-29   5772.275862
2024-03-31   6356.903226
2024-04-30   6151.666667
2024-05-31   5708.677419
2024-06-30   4992.633333
2024-07-31   4636.935484
2024-08-31   5522.064516
2024-09-30   4657.933333
2024-10-31   5323.387097
2024-11-30   6146.000000
2024-12-31   5656.258065

C:\Users\Dell\AppData\Local\Temp\ipykernel_10912\255583427.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  month_mean=original.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [14]:
day_by_day=pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
actual=pd.DataFrame(day_by_day,columns=['Amount'])
actual.set_index(day_by_day,inplace=True)
actual['Amount']=np.random.randint(500,1000,size=len(day_by_day))
print(actual)

rolling_mean=actual.rolling(window=7).mean()
print("Rolling mean:\n")
print(rolling_mean)

            Amount
2021-01-01     877
2021-01-02     596
2021-01-03     751
2021-01-04     551
2021-01-05     851
...            ...
2021-12-27     976
2021-12-28     535
2021-12-29     709
2021-12-30     699
2021-12-31     618

[365 rows x 1 columns]
Rolling mean:

                Amount
2021-01-01         NaN
2021-01-02         NaN
2021-01-03         NaN
2021-01-04         NaN
2021-01-05         NaN
...                ...
2021-12-27  812.857143
2021-12-28  776.571429
2021-12-29  788.142857
2021-12-30  750.857143
2021-12-31  721.428571

[365 rows x 1 columns]


### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.