In [5]:
import numpy as np
import pandas as pd
import random
from random import *

# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [19]:
df=pd.DataFrame(np.random.randint(1,20,size=(6,4)),columns=['A','B','C','D'])
print(df)

df.set_index('A',inplace=True)
print(df)

    A   B   C   D
0  19  16  19  13
1  16  18   2   1
2  13  19  11   7
3   4  16  15  11
4  12   4   9   2
5  15  16   3   2
     B   C   D
A
19  16  19  13
16  18   2   1
13  19  11   7
4   16  15  11
12   4   9   2
15  16   3   2

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [36]:
df=pd.DataFrame(np.random.randint(1,20,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(df)

element=df.at['Y','B']
print(f'[Y,B]:',element)

   A   B   C
X  4  11   5
Y  9   1  18
Z  2  18  19
[Y,B]: 1


### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [42]:
df=pd.DataFrame(np.random.randint(1,15,size=(5,3)),columns=['A','B','C'])
print(df)

df['D']=df["A"] * df['B']
print(df)

   A   B   C
0  7   3   1
1  8   9   4
2  7   3  12
3  3  14   8
4  7  12   2
   A   B   C   D
0  7   3   1  21
1  8   9   4  72
2  7   3  12  21
3  3  14   8  42
4  7  12   2  84

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [48]:
df=pd.DataFrame(np.random.randint(1,15,size=(4,3)),columns=['A','B','C'])
print(df)

row_wise=df.sum(axis=1)
print(f"Row wise sum:\n",row_wise)
column_wise=df.sum(axis=0)
print(f"Column wise sum:\n",column_wise)

    A   B  C
0  10   5  9
1   3   5  4
2   6  12  3
3   9  11  4
Row wise sum:
 0    24
1    12
2    21
3    24
dtype: int64
Column wise sum:
 A    28
B    33
C    20
dtype: int64


### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [75]:
df=pd.DataFrame(np.random.randint(1,15,size=(5,3)),columns=['A','B','C'])
print(df)

df.iloc[0,0]=np.nan
df.iloc[2,2]=np.nan
df.iloc[3,1]=np.nan
print(df)

df.fillna(df.mean(),inplace=True)
print(df)

    A  B   C
0   2  4   5
1  10  3   1
2  10  9  13
3  11  5   9
4   9  5  12
      A    B     C
0   NaN  4.0   5.0
1  10.0  3.0   1.0
2  10.0  9.0   NaN
3  11.0  NaN   9.0
4   9.0  5.0  12.0
      A     B      C
0  10.0  4.00   5.00
1  10.0  3.00   1.00
2  10.0  9.00   6.75
3  11.0  5.25   9.00
4   9.0  5.00  12.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.